@charset "UTF-8";

body{
    background-color: rgb(70, 70, 236);
    color: white;
    margin: auto;
    text-align: center;
    min-width: 97vw;
}

header{
    font: normal 15pt Arial;
}

section{
    margin: auto;
    background-color: white;
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
}

div{
 padding: 8px;
}

div#msg{
    color: black;
    
    font: normal 20px arial;
}

footer{
    text-align: center;
    font-family: initial;
}